#!/bin/sh
# Copyright 2024 The Wazo Authors  (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        ;;

    package)
        mkdir -p "${pkgdir}/usr/bin"
        mkdir -p "${pkgdir}/usr/share/wazo-call-recording-uuid"
        cp wazo-migrate-recording-uuid "${pkgdir}/usr/bin/wazo-migrate-recording-uuid"
        cp wazo-call-recording-uuid.patch "${pkgdir}/usr/share/wazo-call-recording-uuid/wazo-call-recording-uuid.patch"
        ;;

    install)
        patch --verbose --reject-file - -p1 -d /usr/lib/python3/dist-packages/ < /usr/share/wazo-call-recording-uuid/wazo-call-recording-uuid.patch
        systemctl restart wazo-call-logd
        wazo-migrate-recording-uuid
        ;;

    uninstall)
        patch --verbose -p1 -R -d /usr/lib/python3/dist-packages/ < /usr/share/wazo-call-recording-uuid/wazo-call-recording-uuid.patch || true
        systemctl restart wazo-call-logd
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
